.card:hover{
    transform: scale(110%);
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px darkmagenta , -1px -1px 1px 1px darkmagenta ;
}

.page-item{
  cursor: pointer;
}

.page-item.active{
  cursor: move;
}

.form-control{
  width: 5em;
}
